.titre{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 4em;
  font-size: 40px;
}

.headConnec{
  background-color: #45a1ff;
}

.pageConnec{
  font-size: 20px;
  justify-content: center;
  text-align: center;
  padding: 5px;
}

footer{
  background-color: #45a1ff;
}

.Connexion{
  padding: 5px;
  background-color: #45a1ff;
  color: #;
}
